<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="adminHome :: navbarAdmin"> </div>

<div class="container page-content">
  <h2 class="text-center">User List</h2>
  <a class="btn btn-primary mb-3" th:href="@{/admin/user/add}">Add New User</a>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" th:if="${user.email != 'admin@admin.com'}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>
      <td>
        <a class="btn btn-sm btn-warning" th:href="@{/admin/user/edit/{id}(id=${user.id})}">Edit</a>
        <a class="btn btn-sm btn-danger" th:href="@{/admin/user/delete/{id}(id=${user.id})}">Delete</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
</body>
</html>
